<section>
    <header>
        <h1>{{ "page.items.title" | translate }}</h1>
        <filters [reload]="reload" [options]="options" switch-favorites-list="switchFavoritesList"></filters>
    </header>
    <ul ng-hide="items.length === 0" class="row items" itemscope itemtype="http://schema.org/ItemList">
        <li class="col-xs-6 col-sm-4 col-item" *ngFor="let item of items">
            <article class="item" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
                <item [item]="item"></item>
            </article>
        </li>
    </ul>
    <footer>
    </footer>
</section>